<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass - Lab <br> (Day 1) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[One Dimensional Array](#1D)**
2. **[Two Dimensional Array](#2D)**
3. **[Stacking](#Stacking)**
4. **[Splitting](#Splitting)**
5. **[For Loop](#loop)**

**Import the NumPy library before solving the exercises**

### Let's begin with some hands-on practice exercises

<a id="1D"> </a>
## 1. One Dimensional Array

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or create your own list)**<br>

    list_temperature = [3.04, 1.65, 5.76, 1.66, 1.54, 4.69, 2.68]

In [ ]:
import numpy as np
list_temperature = [3.04, 1.65, 5.76, 1.66, 1.54, 4.69, 2.68]
print("Original List:",list_temperature)
a = np.array(list_temperature)
print("One-dimensional NumPy array: ",a)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create a 1D array of weights of 10 students and retrieve all the weights greater than 68</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the weights given below: (or create your own list)**

    weights = [74.2, 85, 74, 67.9, 52, 70.5, 86, 51.8, 64, 82]

In [ ]:
import numpy as np
# type your code here
weights = [74.2, 85, 74, 67.9, 52, 70.5, 86, 51.8, 64, 82]
a = np.array(weights)
print("One-dimensional NumPy array: ",a)
print("Values bigger than 68 =", a[a>68])
print("Their indices are ", np.nonzero(a > 68))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a code to generate 10 random integers between 20 to 40 (Is it possible to generate same random numbers everytime? If yes, describe the function)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
import numpy as np
sampl = np.random.randint(low=20, high=40, size=(10,))
print(sampl)
#Yes Its possible to generate the same random numbers 
#using the seed function.
# Generated random number will be between 1 to 1000.  The below code displays as the seed is used to
#generate the pseudo random numbers using for loop
for i in range(10):
    np.random.seed(i) 
    print(np.random.randint(1, 1000))

[25 21 37 20 27 24 35 38 21 23]
685
38
169
875
123
868
907
176
452
383

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to get the fifth power of the first five positive integers
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
#Assume the first 5 positive numbers as in range 1 to 5 or we read the input from keyboard and support any range

def createmagic(rangenum=5):
    for i in range(1,rangenum+1):
        print(i**5)
        
rangenum = int(input("Please enter the range : "))
createmagic(rangenum)

Please enter the range : 5
1
32
243
1024
3125

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to create an array of all the odd integers from 50 to 100 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
import numpy as np
#Arrange numbers from 50 till 101 so that we cover 100 also its an even number with step size as 2!
#another way to do this is take inputs from user
#check if the range min is divisible by 2, if yes add 1 to make it odd.
#once the min is converted to odd, the step addition of two makes it a odd series

array=np.arange(51,100,2)
print("Array of all the even integers from 50 to 100")
print(array)

Array of all the even integers from 50 to 100
[51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97
 99]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to calculate the sum of each column </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below: (or create your own array)**

    A = [[1, 4, 8], [5, 7, 3], [9, 14, 2]]

In [8]:
import numpy as np
A = [[1, 4, 8], [5, 7, 3], [9, 14, 2]]
#sums = A.sum(axis=1)
print(A)
#A is not matrix, we need to create one before we do any operation.
a = np.array(A)
print(a)
print(a.sum(axis=0))

[[1, 4, 8], [5, 7, 3], [9, 14, 2]]
[[ 1  4  8]
 [ 5  7  3]
 [ 9 14  2]]
[15 25 13]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a code to get the element-wise remainder of an array after division by 8 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
    
    num = [42, 87, 90, 14, 32, 75, 61, 80, 92]

In [9]:
import numpy as np

num = [42, 87, 90, 14, 32, 75, 61, 80, 92]
#Just one function call of remainder on the array and 8 is enough to get values
out_arr = np.remainder(num, 8)  
print ("Output remainder array: ", out_arr)

Output remainder array:  [2 7 2 6 0 3 5 0 4]

<a id="2D"> </a>
## 2. Two Dimensional Array

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Create a 2D numpy array from a 1D array of 20 elements of your choice. Further, subset the first 5 elements from the second element of a resulting 2D array 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13,14,15,16,17,18,19])
# Convert 1D array to a 2D numpy array of 2 rows and 2 columns
arr_2d = np.reshape(arr, (2, 10))
print(arr_2d)

#subset the values based on the column values. 
#1st row
#and columns after the second element in the array which is 1
subset = arr_2d[1][0:5]
print(subset)

[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]]
[10 11 12 13 14]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to find common values between two arrays 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the lists given below:**<br>

    prices_monday = [10, 30, 50, 60, 90]

    prices_tuesday = [50, 20, 80, 125, 10, 70]

In [ ]:
import numpy as np

prices_monday = [10, 30, 50, 60, 90]
prices_tuesday = [50, 20, 80, 125, 10, 70]

#intersect1d is the function for 1 dimentsional array.
commn= np.intersect1d(prices_monday,prices_tuesday)
print(commn)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to find BMI of the patients whose height and weight is provided in the list given below 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the lists given below:**<br>

    list of weights (in kg)
    weights = [57, 69, 54, 65 ,71, 62, 56]

    list of heights (in m)<br>
    heights = [1.59, 1.75, 1.66, 1.74, 1.64, 1.72, 1.53]

In [ ]:
# type your code here
weights = [57, 69, 54, 65 ,71, 62, 56]
heights = [1.59, 1.75, 1.66, 1.74, 1.64, 1.72, 1.53]
# function bmi = weight/(height**2)
for i in range(0,len(weights)):
    bmi = weights[i]/(heights[i]**2)
    print("BMI of person: "+ str(i)+" is:"+str(bmi))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to add a new column ([5,7]) at the last position in the array given below 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**

    array1 = [[[3, 4], [8, 2],[5, 9]]]

In [11]:
# type your code here
import numpy as np

array1 = [[[3, 4], [8, 2],[5, 9]]] 

new_column = ([[[5,7]]]) 
#The following one dimension array needs to be converted 3 dimention to append. For now we will hardcode as the question does
#not mention converting 1d to 3d, we can use reshape in such cases.

new3darray = np.append(array1,new_column,axis=1)
print(new3darray)

[[[3 4]
  [8 2]
  [5 9]
  [5 7]]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to print the identity matrix of order 5</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
import numpy as np
a = np.identity(5) 
print("\nMatrix a : \n", a)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to transpose a matrix 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the matrix given below:**
    
    M = [[15, 17, 45, 56], [7, 42, 15, 63], [54, 3, 61, 41], [0, 87, 16, 20]]

In [12]:
# type your code here
import numpy as np
M = [[15, 17, 45, 56], [7, 42, 15, 63], [54, 3, 61, 41], [0, 87, 16, 20]]
tp = np.transpose(M)
print(tp)

[[15  7 54  0]
 [17 42  3 87]
 [45 15 61 16]
 [56 63 41 20]]

<a id="Stacking"> </a>
## 3. Stacking

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to combine the two arrays vertically</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the arrays given below: (or create your own array)**<br>

    A1 = [[5, 9], [7, 6]]

    A2 = [[8,-7], [0,4]]

Combine the array A2 with A1

In [13]:
# type your code here
import numpy as np
A1 = [[5, 9], [7, 6]]
A2 = [[8,-7], [0,4]]

#vstack parameters order define the way they will be stacked.
#Combile A2 with A1, I assume we need to pass A2,A1 in vstack

A3=np.vstack((A2, A1))
print(A3)

[[ 8 -7]
 [ 0  4]
 [ 5  9]
 [ 7  6]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to combine the two arrays horizontally</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the arrays given below: (or create your own array)**

    A1 = [[-81, 75, 40], [27, 67, 52]]

    A2 = [[15, 54], [39, 56]]

Combine the array A2 with A1

In [14]:
import numpy as np
A1 = [[-81, 75, 40], [27, 67, 52]]
A2 = [[15, 54], [39, 56]]
A3 = np.hstack((A2,A1))
print(A3)

[[ 15  54 -81  75  40]
 [ 39  56  27  67  52]]

<a id="Splitting"> </a>
## 4. Splitting

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a code to divide the array into three sub-arrays containing
                       equal number of rows</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    A = [[4, 7], [2, -3], [8, 1], [0, 9], [5,-1], [8, 3]]

In [15]:
# type your code here
import numpy as np
A = [[4, 7], [2, -3], [8, 1], [0, 9], [5,-1], [8, 3]]
print("Original Matrix:")
print(A)
print("=====Result======")
B1,B2,B3 = np.array_split(A,3,axis=0)
print(B1)
print(B2)
print(B3)

Original Matrix:
[[4, 7], [2, -3], [8, 1], [0, 9], [5, -1], [8, 3]]
=====Result======
[[ 4  7]
 [ 2 -3]]
[[8 1]
 [0 9]]
[[ 5 -1]
 [ 8  3]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to divide the array into two sub-arrays containing equal number of columns
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**

    B = [[8, 7, 0, 9], [2, -3, 5, 10], [8, 5, -1,3]]

In [17]:
# type your code here
import numpy as np
B = [[8, 7, 0, 9], [2, -3, 5, 10], [8, 5, -1,3]]
print(B)

#Step 1: First break the matrix horizontally into 3 row
print("=====Result======")
B1,B2,B3= np.array_split(B,3,axis=0)
print(B1)
print(B2)
print(B3)
#Step 2: Then break one of the row vertically into two so that it can be merged with the remaining two rows
B21, B22 = np.array_split(B2,2,axis=1)

print(B21)
print(B22)

#Print the final result by merging the divided row into remaining two rows
B11 = np.append(B1 , B21)
B12 = np.append(B3,B22)

print("Final Result")
print(B11)
print(B12)

[[8, 7, 0, 9], [2, -3, 5, 10], [8, 5, -1, 3]]
=====Result======
[[8 7 0 9]]
[[ 2 -3  5 10]]
[[ 8  5 -1  3]]
[[ 2 -3]]
[[ 5 10]]
Final Result
[ 8  7  0  9  2 -3]
[ 8  5 -1  3  5 10]

<a id="loop"> </a>
## 5. For Loop

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to perform one-to-one mapping of the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the lists given below: (or create your own lists)**<br>

    L1 = [45, 67, 56, 71, 54, 62, 56]

    L2 = [21, 52, 64, 10, 49, 74, 26]

In [ ]:
#Create a list of tuples
L1 = [45, 67, 56, 71, 54, 62, 56]

L2 = [21, 52, 64, 10, 49, 74, 26]

L3 = list(zip(L1, L2))

print(L3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Define a for loop to apply the function (2x-1)/(x+5) on every element of an array </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    

numbers = [6, 5, 3, 15]

In [ ]:
    
import numpy as np 

def process(x):
    return ((2*x-1)/(x+5))

numbers = [6, 5, 3, 15]

x = np.array(numbers)

# Obtain array of formula applied of each element in x
pnumbers = np.array([process(xi) for xi in x])
print(pnumbers)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Create an identity matrix with n dimensions (take input from the user). Fill the diagonals of that matrix with the multiples of the number provided by the user; take another input from the user. Consider the output below as an example </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="center">
    <td height = '100', width = '700'>
          <img src="que 20.png">
        </td>
</table>

In [24]:
#using numpy.identity()

#import module numpy
import numpy as np

def createIdMtx(dim):
   #  matrix with 1's on main diagnol
   b = np.identity(dim, dtype = int)
   array = np.array(b)
   return array

userInput = int(input("Enter the dimension: "));
identityMat = createIdMtx(dim=userInput)
print(createIdMtx(dim=userInput) ,"\n")

userInput2 = int(input("Enter the number to fill the diagnols with its multiples: "));
newArr = []
for i in range(1,userInput+1):
   val = i*userInput2
   newArr.append(val)  
   
repeats_array = np.tile(newArr, (userInput, 1))
print(repeats_array)

opMat = repeats_array*identityMat
print("Final Array op:\n", opMat)

Enter the dimension: 3
[[1 0 0]
 [0 1 0]
 [0 0 1]]

Enter the number to fill the diagnols with its multiples: 3
[[3 6 9]
 [3 6 9]
 [3 6 9]]
Final Array op:
 [[3 0 0]
 [0 6 0]
 [0 0 9]]
[[1 0 0]
 [0 1 0]
 [0 0 1]]