<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Day 2) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[String](#string)**
2. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="string"></a>
## 1. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
country="India"
print("Length of the string is " + str(len(country)))
print("First two letters: "+ country[0]+ country[1])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
inpstr = "Today is a sunny day."
parsedstr = inpstr.split()

for s in range(0,len(parsedstr)):
    if len(parsedstr[s]) >4:
        print(parsedstr[s])
        
#slicedString=inpstr[len(inpstr)::-1] # slicing 
#print (slicedString)
print(inpstr[-1::-1])

<a id="list"> </a>
## 2. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
from itertools import repeat

mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print("Leng of mix_list_1:"+ str(len(mix_list_1)))

**b. Check the membership of '24' in mix_list_1**

In [ ]:
if 24 in mix_list_1:
    print("24 exists")
else:
    print("24 does not exist")

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:

mix_list_3 = mix_list_1 + mix_list_2
print(mix_list_3)

**d. Repeat the mix_list_2 three times**

In [ ]:
mix_list_4 = []
mix_list_4.extend(repeat(mix_list_2,3))

newlist = repeat(mix_list_2,3)
print(mix_list_4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
multi = []
for i,j in zip(num_list_1,num_list_2):
    multi.append(i*j)

print(multi)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

**b. Second last element**

In [ ]:
print(mix_list[-2])

**c. First three elements**

In [ ]:
print(mix_list[0:3])

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [ ]:
print(mix_list[1:len(mix_list):2])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1]
print(min(num_list))

**b. Max(list)**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1]
print(max(num_list))

**c. Sort the elements (use sort() and sorted() function)**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1]
sl = []
sl= sorted(num_list)
print("List sorted using sorted method")
print(sl)

num_list.sort()
print("List sorted in place")
print(num_list)

**d. Create a copy of a list**

In [ ]:
cplist = list(num_list)
print("Copied list is ")
print(cplist)

cp2list =cplist
cp2list

**e. Remove element '5' from the list**

In [ ]:
cplist.remove(5)
print("List after removal")
print(cplist)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
print(languages_list)

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
languages_list.append('Excel')
languages_list.append('Data')
print(languages_list)

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
languages_list = [len(w) for w in languages_list]
print(languages_list)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [3]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
wcounter=0
for w in seasons_list:
        if w == "Summer":
            wcounter = wcounter +1

print("Word summer repeated:"+str(wcounter))
print(seasons_list.count('Summer'))

Word summer repeated:4
4

<a id="tuple"> </a>
## 3. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [4]:
num_tuple = (4, 4, 8)
print(len(num_tuple))

3

**b. Concatenate the num_tuple and mix_tuple**

In [5]:
mix_tuple = ('John', 5, -2)
newtuple = num_tuple + mix_tuple
print(newtuple)

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [6]:
#Tuples are immutable so they cant be modified, so we need to create a copy of the tuple from the list containing the modified
#values
newrepeat = []
newrepeat.extend(repeat(mix_tuple,2))
newreptuple = tuple(newrepeat)
print(newrepeat)
print(newreptuple)

test1 = repeat(mix_tuple,2)

NameError: name 'repeat' is not defined

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [7]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [11]:
#Tuples are immutable, that makes either answer this question saying its not possible to update
#or update the tuple by creating a new tuple from list with the updated values
mix_tuple = (['a', 1, True], 2, 'Science', -5)
newtuplelist = list(mix_tuple)
print(newtuplelist)
#newtuplelist = [w.replace(2, 3) for w in newtuplelist]
for i in range(1, len(newtuplelist)):
        if newtuplelist[i] ==2:
            newtuplelist[i] = 3 
            
        
newtuple = tuple(newtuplelist)
print(newtuple)

[['a', 1, True], 2, 'Science', -5]
(['a', 1, True], 3, 'Science', -5)

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
#Tuples are immutable, that makes either answer this question saying its not possible to update
#or update the tuple by creating a new tuple from list with the updated values
newtuplelist = list(mix_tuple)
print(newtuplelist)
#newtuplelist = [w.replace(2, 3) for w in newtuplelist]
for i in range(1, len(newtuplelist)):
        if newtuplelist == True :
            newtuplelist[i] = False 
newtuple = tuple(newtuplelist)
print(newtuple)

<a id="set"> </a>
## 4. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [13]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
print(num_set)

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [14]:
#Pass the value to be removed to the set remove function
num_set.remove(3)
print(num_set)

{1, 2, 4, 5, 6, 7}

**c. Clear the set**

In [15]:
num_set.clear()
print(num_set)

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [19]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science for'

unique_words1 = set(sentence_1.split(' '))
unique_words2 = set(sentence_2.split(' '))

unique_words1
unique_words2

{'Python', 'data', 'for', 'science'}

**a. Find the number of unique words in the sentences**

In [22]:
print(unique_words1)
print(unique_words2)

{'analyse', 'the', 'python', 'We', 'using', 'data', 'shall'}
{'for', 'science', 'data', 'Python'}

**b. Find the common words in both the sentences**

In [21]:
common = set(unique_words1).intersection(set(unique_words2) )
print(common)

{'data'}

**c. Find the unique words in both the sentences**

In [ ]:
unique = set(unique_words1).symmetric_difference( set(unique_words2) )
print(unique)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [23]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

C = A.union(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [24]:
C = A.intersection(B)
print(C)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [25]:
C = A - B
print(C)

{1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [26]:
# type your code here
C = B - A
print(C)

{8, 42, 51, 54}

**e. Symmetric difference**

In [27]:
unique = set(A).symmetric_difference( set(B) )
print(unique)

{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="dict"> </a>
## 5. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [29]:
#Pass the key value pair to the update function
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.update({4: 16})
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [31]:
#The values can be accessed in following ways.
mix_dictionary = {0:3, 'x':5, 1:2}
print(mix_dictionary[0])
print(mix_dictionary[1])
print(mix_dictionary.get(1))
print(mix_dictionary['x'])

for k,v in mix_dictionary.items():
    print(k,v)

3
2
2
5
0 3
x 5
1 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [ ]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
print(emp_record.get('Age'))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [ ]:
#There are different ways of doing it like iterating the lists and then assigning key value pairs
#But we can also use the Zip, using which the code looks very concise.
key = ['a','b','c','d']
value = [1, 2, 3, 4]

res = dict(zip(key, value)) 
print(res)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [ ]:
#Simply add new key value pair to the current Dictionary
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Country'] = "India"
print(emp_record)