1. Write a Python function to multiply all the numbers in a list.

In [6]:
import  numpy as np
def multiply(ls):
    total = 1
    for i in ls:
        total = total * i
    return total

#test1
lst = [1,2,4,1]
print(multiply(lst))

#test2
lst2 = [1,2,4,0]
print(multiply(lst2))

#test3
lst3 = [1,2,4,-1]
print(np.prod(lst3))
#print(multiply(lst3))

8
0
-8

2. Write a function to check the number is divisible by 12

In [2]:
def isNumDivBy12(num):
    if(num%12 == 0):
        return True
    return False

if isNumDivBy12(23):
    print("Number is divisble")
else:
    print("Number is not divisble")

Number is not divisble

Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

1. Required arguments: 
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [3]:
def calculateSI(principle,time,rateofinterest):
      si = (principle * time *rateofinterest)/100
      return si

#Tests
print("Calculated SI for p=8 r=6 t=8")
print(calculateSI(8,6,8))

Calculated SI for p=8 r=6 t=8
3.84

2.Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [ ]:
def displayDetails(name,message):
    print("printing the message with "+ name +" and " + message )

displayDetails(name="Master Jim", message = "Lets go to kilhead bridge")

3.Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [ ]:
def displayDetails(name,age=23):
    print("My name is "+ name +" and age is " + str(age) )

displayDetails(name="Master Jim",age =21)
displayDetails(name="Master Toby")

### lambda function

1. Get a number from user,  find if it is even or odd number?

In [ ]:
n=int(input("Enter a numner"))
odd_even=lambda n:"Even number" if(n%2==0) else "Odd number"
print(odd_even(n))

2. Take a input from user and  square it

In [ ]:
n=int(input("Enter a numner "))
square_num=lambda n:  n*n
print(square_num(n))

3. Write a lambda function using logical operators?

Hint:
Check x < 10
Output: False / True

In [ ]:
n=int(input("Enter a number "))
compare_num = lambda numx: True if(numx>10) else False
print(compare_num(n))

4. Take an integer input from the user,  add 5 to the number and print it back?

In [ ]:
n=int(input("Enter a number "))
add_num = lambda numx: numx+5
newnum = add_num(n)
print(newnum)

In [ ]:
### Map

1. Add two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69] 
     
     Output:
     [53, 78, 105]

In [ ]:
def myfunc(a, b):
  return a + b

lis1 = [12, 24, 36] 
lis2 = [41, 54, 69] 
x = map(myfunc, lis1,lis2)
for elem in x:
    print(elem)

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7]

squares = map(lambda x:x*x,list)
for elem in squares:
    print(elem)

3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7]

#Return tuple after checking the type of the number
odd_even = map(lambda x:(x,"Even number") if (x%2==0) else (x,"Odd number"),list)
for item in odd_even:
    print(item)

4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [2]:
list2 = [11, 12, 13, 14, 435, 6, 27]
divided_7 = list(map(lambda x: x//7,list2))
print(divided_7)

[1, 1, 1, 2, 62, 0, 3]

### Filter

1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [6]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]

def not_div_by_2(number):
    if(number%2 !=0):
        return True
    else:
        return False

an_iterator = filter(not_div_by_2, lis1)

filtered_numbers = list(an_iterator)

print(filtered_numbers)

[3, 43, 455, 43, 543]

2. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [8]:
lis1 = [2,3,5,3,6,3,7,4,6,7]

def not_div_by_2(number):
    if(number%2 ==0):
        return True
    else:
        return False

an_iterator = filter(not_div_by_2, lis1)

filtered_numbers = list(an_iterator)

print(filtered_numbers)

[2, 6, 4, 6]

### Reduce

1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [10]:
from functools import reduce
lis1 = [1, 2, 3, 4]
output = reduce(lambda x,y: x*y,lis1)
print(output)

24