In [2]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.1'

In [3]:
mylist=[11,22,33,"python",44,'logic',55]
ps1 = pd.Series(mylist)
ps1

0        11
1        22
2        33
3    python
4        44
5     logic
6        55
dtype: object

In [4]:
mylist=[11,22,33,"python",44,'logic',55]
mylist

[11, 22, 33, 'python', 44, 'logic', 55]

In [6]:

a = np.array(([50,200,5,10],[10,35,50,15],[25,100,145,120],[105,25,65,80],[100,200,350,400]))

b = a[:,(1,2)]

print(b)

[[200   5]
 [ 35  50]
 [100 145]
 [ 25  65]
 [200 350]]

In [11]:
import numpy as np
a = np.array(([50,200,5,10],[10,35,50,15],[25,100,145,120],[105,25,65,80]))

b = a[:2,2:] 

print(b)

[[ 5 10]
 [50 15]]

In [5]:
import pandas as pd
Data = pd.DataFrame({'price':[95, 25, 85, 41, 78],

                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],

                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})

Data

   price ticker           company
0     95    AXP  American Express
1     25   CSCO             Cisco
2     85    DIS       Walt Disney
3     41   MSFT         Microsoft
4     78    WMT           Walmart