<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [2]:
#Displays triangle for odd pattern with the input as triangle size
maxsize = 10

for i in range(1,maxsize):
    if i % 2 == 0:
        continue
    
    nspaces = 10-i
    nspaceleft = int(nspaces/2)
   
    for j in range(1,nspaceleft+1):
        print(" ",end='')

    for j in range(1,i+1):
        print("*",end='')

    for j in range(1,nspaceleft+1):
        print(" ",end='')
        
    print("\n")

    *

   ***

  *****

 *******

*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
print("A \nB \nC")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
simplestring = "Python"
print(type(simplestring))

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [5]:
simpleint = 23
print(type(simpleint))

<class 'int'>

ii. A fractional variable

In [6]:
simplefraction = 3.23
print(type(simplefraction))

<class 'float'>

**Declare a boolean variable and check its data type.**

In [7]:
simplebool = True
print(type(simplebool))

<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
x = 5
y = 3

comp_var = complex(x,y)

print ("The real part of complex number is : ",end="") 
print (comp_var.real) 
  
print ("The imaginary part of complex number is : ",end="") 
print (comp_var.imag)

The real part of complex number is : 5.0
The imaginary part of complex number is : 3.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
 f = 23.45
 intval = int(23.45)
 print(intval)

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
 intval = 23
 print(str(intval))

23

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
fvalue = ((145*354) - 1345)/(45+((462+23)/3))
print(fvalue)

241.86290322580646

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
print(1353+234)
print(2355-346)
print(234*457)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2**10)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:

#We need float values for the fractional precision
ht = float(input("Enter height in meters: "))
wt = float(input("Enter weight in kg: "))

# the formula for calculating bmi

bmi = weight/(height**2) 
# ** is the power of operator i.e height*height in this case

print("Your BMI is: {0} ".format(bmi), end='')

Enter height in meters: 5.4
Enter weight in kg: 65
Your BMI is: 2.2290809327846364 and you are:

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:

a = (54+34)*45
b = (0.9*2432)/0.9

if ( a == b):
    print("The values are equal")
else:
    print("The values are not equal")
    
print(a)
print(b)

The values are not equal
3960
2432.0

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
firstname = "Harsha"
secondname = "Kushtagi"
print("Full name is :" + firstname + secondname)

Full name is :HarshaKushtagi

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your code here

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
#Step1: Read the input number from Keyboard
#Step2: User Enters 5 (Lets say! num)
#Step3:
    #Iterate from 1 to 10 using variable i
        #Print i*num

#Actual code
num = int(input("Enter the num to generate table of the respective number"))
for i in range(1,11):
    print(num*i)

Enter the num to generate table of the respective number6
6
12
18
24
30
36
42
48
54
60

##### <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
#Step1: Read input number from Keyboard to generate the fibonacci numbers.
#Step2: Read the first two numbers
#Step3: Assign them two first num and second num variable
#Step4: Iterate from 1 to (num-2) as we already have first two numbers.
    # thirdnum = firstnum + secondnum
    #firstnum = secondnum
    #secondnum = thirdnum
    #The third number in the series is sum of the previous two, in turn any nth number is sum of all the numbers starting
    #from first num,second num to size of the series input by user
firstnum,secondnum = 0,1

#We already have two numbers 0,1
print("Fibonacci number:" + str(firstnum))
print("Fibonacci number:" + str(secondnum))

for i in range(1,9):
    thirdnum = firstnum+secondnum
    firstnum = secondnum
    secondnum = thirdnum 
    print("Fibonacci number:" + str(thirdnum))

Fibonacci number:0
Fibonacci number:1
Fibonacci number:1
Fibonacci number:2
Fibonacci number:3
Fibonacci number:5
Fibonacci number:8
Fibonacci number:13
Fibonacci number:21
Fibonacci number:34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
#Step1: Read input for num1 from keyboard
#Step2: Read input for num2 from keyboard
#step3: use if conditional statement and num1 > num2

num1 = int(input("Enter num1"))
num2 = int(input("Enter num2"))

if num1>num2:
    print("num1 is greater than num2")
else:
    print("num2 is greater than num1")

Enter num15
Enter num24
num1 is greater than num2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [43]:
#Step1: Read input numer to be checked if its divisble by 7 or not
#Step2: check if the mod of the number returns 0 or not
#Step3: if the 7 mod (num) is 0 then the number is divisible by 0

num = int(input("Enter input number"))
if num % 7 == 0:
    print("Number is divisble by 7")
else:
    print("Number is not divisble by 7")

Enter input number14
Number is divisble by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [49]:
#Step1: Read input number from Keyboard
#Step2: Factorial of a number is n*(n-1)....*1
#Step3: Factorial of 0 is 0.
#Step3: Factorial of -1 is invalid.

num = int(input("Enter an input number"))
factorial = 1

if num < 0:
    print("Please enter a positive number as factorial does not exist for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else :
    for x in range(1,num+1):
        factorial = factorial*x

print("Factorial of: "+str(num)+" is " +str(factorial))

Enter an input number5
Factorial of: 5 is 120

<table align="left">

    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
#Step1: Read input from keyboard
#Step2: A Prime is number is divisible only by two numbers (1, and the number itself)
#Step3: Iterate from 2 to num and count the number of times its compltely divisible
#Step4: If the count ==2 then the input number is prime number

num = int(input("Enter the input number"))
count = 1
alsodivisbleby = 1
if num < 0 :
    print (" There are no negative prime numbers")
else:
    for x in range(2,num+1):
        if num % x == 0:
            if count < 2:
                count = count+1
            else:
                alsodivisbleby = x
                break

if count > 2:
    print("Number is not prime")
else:
    print("Number is prime")

Enter the input number23
Number is prime

####